/* ----- General ----- */
:root {
    --primary_white: #f6f9ff;
    --secondary_blue: #cde7ff;
    --accent_blue: #2445ba;
    --text_black: #00061b;
}
body {
    margin: 0;
    background-color: var(--secondary_blue);
}


/* ----- Typography ----- */
h1 {
    font-size: 30px;
    font-weight: 600;
}
h2 {
    font-size: 26px;
    font-weight: 500;
}
h3 {
    font-size: 22px;
    font-weight: 400;
}
p {
    font-size: 18px;
}
.header-text {
    margin: 10px 0px;
}
.title-text {
    margin-bottom: 0px;
    font-weight: 600;
}
.subtitle-text {
    margin-top: 0px;
}
.faq {
    font-weight: 600;
    color: var(--accent_blue);
}
.contact-cta h2 {
    margin-bottom: 10px;
    font-weight: 600;
}


/* ----- Buttons ----- */
button {
    background-color: var(--accent_blue);
    color: var(--primary_white);
    border: none;
    border-radius: 10px;
    padding: 0px 40px;
    cursor: pointer;
}
button:hover {
    background-color: var(--secondary_blue);
    border: 2px solid var(--accent_blue);
    color: var(--accent_blue);
}


/* ----- Header & Navigation ----- */
header {
    position: sticky;
    top: 0;
}
.phone-address-bar {
    background-color: var(--accent_blue);
    color: var(--primary_white);
    display: flex;
    gap: 30px;
    padding: 0px 30px;
}
.title-navigation-bar {
    background-color: var(--primary_white);
    color: var(--text_black);
    display: flex;
    gap: 60px;
    padding: 0px 30px;
}
nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-size: 22px;
}
nav a {
    color: var(--text_black);
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 5px solid var(--primary_white);
}
nav a:hover {
    background-color: var(--secondary_blue);
}
nav a:active {
    background-color: var(--accent_blue);
    color: var(--primary_white);
}
.current-page {
    border-bottom: 5px solid var(--accent_blue);
}


/* ----- Main Content ----- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white-background-container {
    background-color: var(--primary_white);
    width: 100%;
}
.blue-background-container {
    background-color: var(--accent_blue);
    color: var(--primary_white);
    width: 100%;
}
.background-margin {
    margin: 60px 10px;
}
.main-content {
    max-width: min(960px, calc(100% - 120px));
    margin: 40px auto;
}
.centered {
    text-align: center;
}
/* ----- Home Page ----- */
.image-banner {
    width: 100%;
}
.disclaimer {
    padding: 10px;
}
.disclaimer * {
    margin: 0px;
}
/* ----- FAQ Page ----- */
.question-box {
    background-color: var(--primary_white);
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 30px 0px;
}
.contact-cta {
    margin-bottom: 70px;
}
/* ----- About Page ----- */
.dr-lin-about {
    display: flex;
    gap: 60px;
    align-items: start;
}
.dr-lin-profile {
    margin-top: 18px;
    width: 320px;
}
.timeline {
    width: 100%;
    margin-top: 40px;
}
/* ----- Procedure Pages ----- */
.procedure {
    display: flex;
}
.procedure-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
.procedure-list li {
    background-color: var(--primary_white);
    padding: 15px 40px 15px 20px;
    border-radius: 20px 0 0 20px;
}
.procedure-list a {
    color: var(--text_black);
    text-decoration: none;
    font-size: 22px;
}
.procedure-list li.current-procedure {
    background-color: var(--accent_blue);
    position: relative;
    z-index: -1;    /* hide under header */
}
.procedure-list li.current-procedure > a {
    color: var(--primary_white);
}
.procedure-list li.current-procedure::before,
.procedure-list li.current-procedure::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 10px;
    right: 0;
}
.procedure-list li.current-procedure::before {
    top: -10px;
    border-radius: 0 0 100% 0;
    box-shadow: 5px 5px 0px 5px var(--accent_blue);
}
.procedure-list li.current-procedure::after {
    bottom: -10px;
    border-radius: 0 100% 0 0;
    box-shadow: 5px -5px 0px 5px var(--accent_blue);
}
.procedure-info {
    background-color: var(--primary_white);
    border-radius: 20px;
    border: 2px solid var(--accent_blue);
    padding: 40px;
}
.procedure-info > div {
    display: flex;
    gap: 20px;
}
.procedure-picture {
    width: 300px;
}
.procedure-forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
}
/* ----- Forms Page ----- */
.accordion {
    background-color: var(--primary_white);
    width: 100%;
    border: 2px solid var(--text_black);
    border-radius: 20px;
}
.accordion-item {
    border-bottom: 2px solid var(--text_black);
}
.accordion-item:last-child {
    border-bottom: none;
}
.accordion-input {
    display: none;
}
.accordion-label {
    display: block;
    padding: 20px 30px;
    font-size: 22px;
    position: relative;
}
.accordion-label::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 12px;
    height: 6px;
    background-image: url(images/arrow_dropdown.svg);
    background-size: contain;
    transition: transform 0.4s;
}
.accordion-content {
    padding: 0px 40px 20px;
    display: none;
}
.accordion-content a {
    color: var(--text_black);
    text-decoration: none;
    padding: 5px 0px;
}
.accordion-input:checked ~ .accordion-content {
    display: flex;
    flex-direction: column;
}
.accordion-input:checked ~ .accordion-label::after {
    transform: translateY(-50%) rotate(0.5turn);
}
/* ----- Contact Page ----- */
.contact {
    background-color: var(--primary_white);
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}
.contact-info {
    flex: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}
.contact-info * {
    margin: 0px;
}
.contact-item {
    display: flex;
}
.map-embed {
    flex: 40%;
    border: none;
}
