/* ----- General ----- */
:root {
    --primary_white: #f6f9ff;
    --secondary_blue: #cde7ff;
    --accent_blue: #2445ba;
    --text_black: #00061b;
}
body {
    margin: 0;
    background-color: var(--secondary_blue);
}


/* ----- Typography ----- */
h1 {
    font-size: 30px;
    font-weight: 600;
}
h2 {
    font-size: 26px;
    font-weight: 500;
}
h3 {
    font-size: 22px;
    font-weight: 400;
}
p {
    font-size: 18px;
}
.header-text {
    margin: 10px 0px;
}
.title-text {
    margin-bottom: 0px;
}
.subtitle-text {
    margin-top: 0px;
}
.faq {
    font-weight: 600;
    color: var(--accent_blue);
}
.contact-cta > h2 {
    margin-bottom: 10px;
    font-weight: 600;
}


/* ----- Buttons ----- */
button {
    background-color: var(--accent_blue);
    color: var(--primary_white);
    border: none;
    border-radius: 10px;
    padding: 0px 40px;
    cursor: pointer;
}
button:hover {
    background-color: var(--secondary_blue);
    border: 2px solid var(--accent_blue);
    color: var(--accent_blue);
}


/* ----- Header & Navigation ----- */
header {
    position: sticky;
    top: 0;
}
.phone-address-bar {
    background-color: var(--accent_blue);
    color: var(--primary_white);
    display: flex;
    gap: 30px;
    padding: 0px 30px;
}
.title-navigation-bar {
    background-color: var(--primary_white);
    color: var(--text_black);
    display: flex;
    gap: 60px;
    padding: 0px 30px;
}
nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-size: 22px;
}
nav > a {
    color: var(--text_black);
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 5px solid var(--primary_white);
}
nav > a:hover {
    background-color: var(--secondary_blue);
}
nav > a:active {
    background-color: var(--accent_blue);
    color: var(--primary_white);
}
.current-page {
    border-bottom: 5px solid var(--accent_blue);
}


/* ----- Main Content ----- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white-background-container {
    background-color: var(--primary_white);
    width: 100%;
}
.blue-background-container {
    background-color: var(--accent_blue);
    color: var(--primary_white);
    width: 100%;
}
.main-content {
    max-width: min(960px, calc(100% - 120px));
    margin: 40px auto;
}
.centered {
    text-align: center;
}
/* ----- Home Page ----- */
.image-banner {
    width: 100%;
}
.disclaimer {
    padding: 10px;
}
.disclaimer > * {
    margin: 0px;
}
/* ----- FAQ Page ----- */
.question-box {
    background-color: var(--primary_white);
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 30px 0px;
}
.contact-cta {
    margin-bottom: 70px;
}
